 body {
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(129, 45, 45);
    font-family: Helvetica, Arial, sans-serif
}

nav {
    background-color: #255b91;
    padding: 1px 0;
    border-radius: 5px;
}
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding-right: 5px;
}
nav ul li a {
    padding-right: 5px;
}

nav ul li:after {
    content: " / ";
}

nav ul li:last-child:after {
    content: "";
}

section {
    margin: 0 20px 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(40, 211, 49); 
}
section p {
    margin: 0 20px;
}
selector:pseudo-class {
    width: 100%;
  }

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}
